* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.page1{
  height:100vh;
  width: 100vw;
}

.page1 img {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-content: center;
}

.bg{
  width:100vw;
}


header{
  background-color: blue;
}


nav{
  position:absolute;
  top:0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100vw;
  background-color: rgba(0, 0, 0,0.2);
}

.logo{
  margin-left: 10px;
  margin-top: 10px;
  display:inline-block;
  /* background-color: aqua; */
}

#logo{
  height:50px;
  width:200px;
}

.menu-btn{
  width:100px;
  height:35px;
  color:white;
  border:2px solid rgb(2, 30, 37);
  border-radius: 25px;
  background-color: rgba(2, 30, 37, 0.377);
  margin-right: 100px;
}


.main-content{
  display: inline-block;
  position: relative;
  bottom:450px;
  height:257px;
  width: 590px;
  position: relative;
  left:450px;
  
  /* background-color: aqua; */
}
.v3-3{
  height:40px;
  width:120px;
  text-align: end;
  font-size: 25px;
  font-weight: bold;
  font-family:arial;
  color:  rgb(243, 240, 240);
  padding-right: 10px;
  padding-top: 6px;
  background: linear-gradient(to right, rgba(255,0,0,0), rgb(199, 11, 11));
  display:inline-block;
  /* background-color: bisque; */
  position:absolute;
  left:450px;
  top:20px;
}
h1{
  position:absolute;
  top:48px;
  left:18px;
  font-size: 50px;
  font-weight: bold;
  font-family:arial black ;
  text-shadow:  1px 1px 2px , 0 0 9em black, 0 0 0.5em black;
  color:rgb(255, 255, 255);
}
.main-content h2{
  text-shadow:  1px 1px 2px , 0 0 9em black, 0 0 0.5em black;
  color:rgb(255, 255, 255);
  position:absolute;
  top:110px;
  left:180px;
  font-weight: 200;
  font-family:arial black ;
}
.story{
  text-shadow:  1px 1px 2px , 0 0 9em black, 0 0 0.2em black;
  color:rgb(255, 255, 255);
  position: absolute;
  bottom:20px;
  left:20px;
  display: inline-block;
  /* background-color: azure; */
  text-align: center;
  letter-spacing: 1px;;
}
.event{
  text-shadow:  1px 1px 2px , 0 0 9em black, 0 0 0.5em black;
  color:rgba(255, 255, 255);
  position:absolute;
  top:152px;
  left:155px;
}

.trapaziums{
  height:fit-content;
  display: flex;
  justify-content: center;
    position:relative;
    bottom: 335px;
    /* left:550px; */
}
.trapazium1{
  width: 150px;
  border-bottom:50px solid rgba(0, 0, 41, 0.774);
  border-left:20px solid transparent;
  border-right: 20px solid transparent;
  
}
.trapazium2{
  width: 150px;
  border-bottom:50px solid rgba(112, 121, 238, 0.692);
  border-left:20px solid transparent;
  border-right: 20px solid transparent;
  
}
.trapazium3{
  width: 150px;
  border-bottom:50px solid  rgba(0, 0, 41, 0.774);
  border-left:20px solid transparent;
  border-right: 20px solid transparent;

}

#trapazium1{
  color:white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow:  1px 1px 2px , 0 0 9em black, 0 0 0.5em black;
  position: relative;
  text-align: center;
  top:40px;
}

#trapazium2{
  color:rgb(45, 12, 82);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow:  1px 1px 1px , 0 0 4em rgb(253, 251, 251), 0 0 0.5em rgb(252, 250, 250);
  position:relative;
  text-align: center;
  top:35px;
  font-size: 22px;
  font-weight: 600;
}


#trapazium3{
  color:white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow:  1px 1px 2px , 0 0 9em black, 0 0 0.5em black;
  position: relative;
  text-align: center;
  top:40px;
    /* left:32px; */
}

.fault {
  height: 20vh;
  width: 100vw;
  background-color: black;
  margin-top: -360px;
}

/* page 1 ends here and page 2 starts here  */

.startPageTwo{
  margin-top: -102px;
  padding: 0px;
  width: 100vw;
  background-color: rgba(100, 187, 187,0.8);
  /* filter:blur(10px); */
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.mainBG{
  /* background-color: aqua; */
  width:100vw;
  height: 170vh;
}

#firstImage{
  /* opacity: 0.1; */
  height:410px;
  width:100vw;
  background-color: black;
  z-index: 1; 
  background-image: url("firstImage.png");
  background-repeat: no-repeat;
  background-size: 100% 406px;
  box-shadow: 0px 0px 111px 55px black inset;
  transition-property: all;
  transition-duration: 1.5s;
  /* opacity: 0.1; */

}
#firstImage:hover{
  transform:scale(1.1);
  box-shadow: 0px 0px 10px 12px white;
}



#secondImage{
  height:400px;
  width:100vw;
  background-color:red ;
  z-index: 3;
  position: relative;
  bottom:250px;
  clip-path: polygon(24% 62%,100% 100%,100% 15%,80% 0%);
  background-image:url("secondImage000.png");
  background-repeat: no-repeat;
  background-size:2500px 400px;
  box-shadow: 0px 0px 111px 100px black inset;
  transition-property: all;
  transition-duration: 1.5s;
 
}
#secondImage:hover{
  width:100%;
  transform:scale(1.1);
  border-radius: 25px;
  box-shadow: 0px 0px 10px 12px white;
}
 
#thirdImage{
  height:400px;
  width: 100vw;
  background-color: green;
  z-index: 5;
  position: relative;
  bottom:450px;
  clip-path: polygon(0% 0%,100% 50%,100% 70%,0% 100%);
  background-image: url("thirdImage.png");
  background-repeat: no-repeat;
  background-size:1550px 678px ;
  box-shadow: 0px 0px 111px 100px black inset;
  transition-property: all;
  transition-duration: 1.5s;

  
}
#thirdImage:hover{
  transform:scale(1.1);
  border-radius: 25px;
  box-shadow: 0px 0px 10px 12px white;
}
#forthImage{
  height:400px;
  width:100vw;
  background-color: yellowgreen;
  /* opacity: 0.2; */
  z-index: 7;
  position: relative;
  bottom:570px;
  clip-path: polygon(0% 30%,100% 0%,100% 100%,0% 100%);
  background-image:url("forthImage.png");
  background-size:1525px 410px;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 111px 100px rgb(5, 0, 10) inset;
  transition-property: all;
  transition-duration:1.5s;
}
#forthImage:hover{ 
  transform:scale(1.1);
  box-shadow: 0px 0px 10px 12px white;
}

span{
  text-shadow: 0 0 1px rgb(153, 100, 100);
  color:rgb(31, 10, 105)
}
.days30{
  position: relative;
  bottom:10px;
  text-shadow: 0 0 5px rgb(1, 7, 34);
  color:rgb(247, 244, 244);
  font-size: 20px;
}
.paraFirstImage{
  background-color: rgba(128, 128, 128,0.2);
  border-radius: 25px;
  position: relative;
  left:100px;
  /* background-color: aqua; */
  position: relative;
  top:58px;
  display: inline-block;
  text-align: center;
  gap:50px;

}
.one{
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  height:25px;
  width:25px;
  border-radius: 10px;
  border:2px solid white;
  box-shadow: 0 0 5px 2px rgb(111, 115, 218);
  text-shadow: 0 0 5px rgb(111, 115, 218);
  position: relative;
  left:200px;
  top:20px;
}
#welcome{
  position: relative;
  top:11px;
  text-shadow:0 0 5px rgb(2, 4, 68);
  font-style: italic;
  color:rgb(246, 245, 248);
  font-family: arial black;
  font-size:58px;
}
#days{
  text-shadow: 0 0 5px rgb(111, 115, 218);
  font-style:italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;;
  color:rgb(245, 245, 247);
}

.paraSecondImage{
  background-color: rgba(128, 128, 128,0.2);
  border-radius: 25px;
  position:relative;
  left:780px;
  top:100px;
  display: inline-block;
  align-items: center;
  text-align: center;

}
.para2{
  display:inline-block;
}
.two{
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  height:25px;
  width:25px;
  border-radius: 10px;
  border:2px solid white;
  box-shadow: 0 0 5px 2px blueviolet;
  text-shadow: 0 0 5px blueviolet;
  position: relative;
  left:300px;
}

#level{
  text-shadow:0 0 5px blueviolet;
  font-style: italic;
  color:white;
  font-family: arial black;
  font-size:39px;
}

#begins{
  text-shadow: 0 0 5px blueviolet;
  font-style:italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;;
  color:white;
}

#returning{
  text-shadow: 0 0 5px blueviolet;
  color:white;
  font-size: 20px;
}
.paraThirdImage{
  background-color: rgba(128, 128, 128,0.2);
  border-radius: 25px;
  display: inline-block;
  align-items: center;
  text-align: center;
  position: relative;
  top:100px;
  left:100px;
}
.three{
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  height:25px;
  width:25px;
  border-radius: 10px;
  border:2px solid white;
  box-shadow: 0 0 5px 2px blueviolet;
  text-shadow: 0 0 5px blueviolet;
  position: relative;
  left:250px;
}

#bonus{
  text-shadow:0 0 5px blueviolet;
  font-style: italic;
  color:white;
  font-family: arial black;
  font-size:50px;
}

#limited{
  text-shadow: 0 0 5px blueviolet;
  font-style:italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;;
  color:white;
}

#purchase{
  text-shadow: 0 0 5px blueviolet;
  color:white;
  font-size: 20px;
}

.paraForthImage{
  background-color: rgba(128, 128, 128,0.2);

  border-radius: 25px;
  position: relative;
  top:150px;
  left:700px;
  display:inline-block;
  text-align: center;
}
.four{
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  height:25px;
  width:25px;
  border-radius: 10px;
  border:2px solid white;
  box-shadow: 0 0 5px 2px blueviolet;
  text-shadow: 0 0 5px blueviolet;
  position: relative;
  left:280px;
}

#sixty{
  text-shadow:0 0 5px blueviolet;
  font-style: italic;
  color:white;
  font-family: arial black;
  font-size:50px;
}

#special{
  text-shadow: 0 0 5px blueviolet;
  font-style:italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;;
  color:white;
}

#introduction{
  text-shadow: 0 0 5px blueviolet;
  color:white;
  font-size: 20px;   
}

/* page 2 ends here and footer starts here  */

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height:50vh;
  background-color: rgb(98, 22, 168);
  text-shadow: 0.5px 0.5px rgb(96, 94, 94);
  box-shadow: 0px 0px 1110px 50px black inset;
  /* padding:10px; */
}
.content{
  letter-spacing: 0.5px;
  display: inline-block;
  color: white;
}
.l1{
  border:none;
  width:fit-content;
  height:fit-content;
  padding:13px;
  /* background-color: aliceblue; */
  transition-property: all;
  transition-duration: 1s;
}
/* p:hover{
  font-size: 20px;
} */
.l1:hover{
  border:none;
  width: fit-content;
  transform: rotate(2deg) scale(1.1);
  box-shadow: 0px 0px 10px black;
  border-radius: 25px;
  background-color: rgba(150, 62, 232, 0.5);
  
  
}
.l2{
  transition-property: all;
  transition-duration: 1s;
  width:fit-content;
  height:fit-content;
  padding:13px;
  /* background-color: aqua; */
}
.l2:hover{
  border:none;
  width: fit-content;
  transform: rotate(-2deg) scale(1.1);
  box-shadow: 0px 0px 10px black;
  border-radius: 25px;
  background-color: rgba(150, 62, 232, 0.5);
}
.l3{
  transition-property: all;
  transition-duration: 1s;
  padding:13px;
  /* background-color: beige; */
}
.l3:hover{
  border:none;
  width: fit-content;
  transform: rotate(2deg) scale(1.1) ;
  box-shadow: 0px 0px 10px  black;
  border-radius: 25px;
  background-color: rgba(150, 62, 232, 0.5);
}
.l4{
  transition-property: all;
  transition-duration: 1s;
  padding:13px;
  /* background-color: blue; */
}
.l4:hover{
  border:none;
  width: fit-content;
  transform: rotate(-2deg) scale(1.1);
  box-shadow: 0px 0px 10px black;
  border-radius: 25px;
  background-color: rgba(150, 62, 232, 0.5);
}
.l5{
  position: relative;
  top:10px;
  padding:13px;
  /* background-color: blueviolet; */
}
.l5:hover{
  border:none;
  width: fit-content;
  transform:  scale(1.1);
  box-shadow: 0px 0px 10px black;
  border-radius: 25px;
  background-color: rgba(150, 62, 232, 0.5);
}

.content h2{
  transition-property:all ;
  transition-duration:1s;
  padding:5px;
  /* background-color: aqua; */
  display: inline-block;
}
.content h2:hover{
  width:auto;
  border:1px solid green;
  border-radius: 25px;
  transform: scale(1.5);
}